@tailwind base;
@tailwind components;
@tailwind utilities;



.gradient {
  height: fit-content;
  z-index: 10;
  width: 100%;
  max-width: 1300px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(103, 166, 233) 0px, transparent 50%),
    radial-gradient(at 52% 99%, rgb(53, 94, 144) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgb(233, 226, 132) 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(109, 117, 166) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgb(22, 19, 106) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(50px) saturate(150%);
  top: 80px;
  opacity: 0.20;
  
}